/* General font and behavior */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.index {
    background-image: url(https://images.unsplash.com/photo-1762430259780-28ffac74916c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
    background-size: cover;
    background-repeat: no-repeat;
}

.mt-3,
.divy {
    color: white;
}


/* Hero section */

.hero {
    height: 90vh;
    color: white;
}


/* Section spacing */

section {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* Card styles */

.card img {
    height: 200px;
    object-fit: cover;
}


/* Navbar link styling */

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}


/* Footer */

footer p {
    font-size: 14px;
    margin: 0;
}